/* Start Global Rules */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;
    --main-transition: 0.3s;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    height: 56px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

/* End Global Rules */
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

@media (min-width: 778px) {

    .sidebar>h3::before,
    .sidebar>h3::after {
        content: "";
        position: absolute;
        background-color: black;
        left: 50%;
        transform: translateX(-50%);
    }

    .sidebar>h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
    }

    .sidebar>h3::after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 4px solid white;
        bottom: -29px;
    }
}

.sidebar ul li a {
    transition: var(--main-transition);
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

/* End Sidebar */
/* Start content */
.content {
    overflow: hidden;
}

header .search::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    position: absolute;
    font-weight: 900;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
    font-size: 14px;
}

header .search input {
    width: 160px;
    padding-left: 30px;
    border: 1px solid var(--border-color);
    margin-left: 5px;
    transition: width var(--main-transition);
}

header .search input:focus {
    width: 200px;
}

header .search input:focus::placeholder {
    opacity: 0;
}

header .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

header .icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, black 35%, white 35%);
    bottom: -10px;
    left: 0;
}

@media (min-width: 768px) {
    .content .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}

@media (max-width: 767px) {
    .content .wrapper {
        margin-left: 10px;
        margin-right: 10px;
        gap: 15px;
    }
}

/* End content */

/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 150px;
    margin-bottom: -18px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* End Welcome Widget */
/* Start Draft Widget */
.draft form textarea {
    height: 180px;
    resize: none;
}

.draft form .save {
    margin-left: auto;
    cursor: pointer;
    transition: var(--main-transition);
}

/* End Draft Widget */
/* Start Yearly Targets Widget */
.box .icon {
    width: 80px;
    height: 80px;
}

.box:first-of-type .icon,
.box:first-of-type .progress {
    background-color: #cce3ff;
}

.box:nth-of-type(2) .icon,
.box:nth-of-type(2) .progress {
    background-color: #fdecce;
}

.box:last-of-type .icon,
.box:last-of-type .progress {
    background-color: #d3f3df;
}

.box .p-holder {
    flex: 1;
}

.box .p-holder .progress {
    height: 4px;
}

.box .p-holder .progress span {
    height: 100%;
}

.box .p-holder .progress span::before {
    content: attr(data-prog);
    position: absolute;
    width: 24px;
    height: 20px;
    padding: 2px 6px;
    font-size: 12px;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    right: -18px;
}

.box:first-of-type .p-holder .progress span::before {
    background-color: var(--blue-color);
}

.box:nth-of-type(2) .p-holder .progress span::before {
    background-color: var(--orange-color);
}

.box:last-of-type .p-holder .progress span::before {
    background-color: var(--green-color);
}

.box .p-holder .progress span::after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-color: transparent;
    border-style: solid;
    top: -17px;
    right: -6px;
}

.box:first-of-type .p-holder .progress span::after {
    border-top-color: var(--blue-color);
}

.box:nth-of-type(2) .p-holder .progress span::after {
    border-top-color: var(--orange-color);
}

.box:last-of-type .p-holder .progress span::after {
    border-top-color: var(--green-color);
}

/* End Yearly Targets Widget */
/* Start Tickets Statistics */
.tickets .box {
    flex-basis: calc(50% - 10px);
    border: 1px solid var(--border-color);
}

@media (max-width: 767px) {
    .tickets .box {
        flex-basis: 100%;
    }
}

/* End Tickets Statistics */
/* Start Latest News */
.news .news-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.news .news-row img {
    width: 100px;
}

.news .news-row .info {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .news .news-row {
        display: block;
    }

    .news .news-row .info h4 {
        margin-top: 5px;
    }

    .news .news-row .label {
        width: fit-content;
        margin: 10px auto;
        display: block;
    }
}

/* End Latest News */
/* Start Tasks */
.tasks .task-row i {
    transition: var(--main-transition);
}

/* End Tasks */
/* Start Uploads */
.uploads ul li img {
    width: 40px;
    height: 40px;
}

/* End Uploads */
/* Start Last Project Progress */
.projects ul::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 90%;
    left: 11px;
    background-color: var(--blue-color);
}

.projects ul li::before {
    content: "";
    display: block;
    background-color: var(--blue-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.projects ul li.done::before {
    background-color: var(--blue-color);
}

.projects ul li.current::before {
    animation: change-color 0.8s alternate infinite;
}

.projects .launch-icon {
    position: absolute;
    width: 160px;
    bottom: 0;
    right: 0;
}

@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

/* End Last Project Progress */
/* Start Reminders */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li .blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li .green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li .orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li .red {
    border-left: 2px solid var(--red-color);
}

/* End Reminders */
/* Start Lasest post */
.post .top img {
    width: 48px;
    height: 48px;
}

.post .post-content {
    text-transform: capitalize;
    line-height: 1.6;
    min-height: 140px;
}
/* End Lasest post */